.header {
	

	padding:  50px 0 0 0;
}

footer {
    background-color: #000000;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    height:110px;
    padding-top: 10px;
    display: block;
    margin-top: 0px auto;
    box-sizing: border-box;
    position: relative;
    width: 100%;